<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TodoList</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TodoList.styles.css" asp-append-version="true" />
</head>
<body class="d-flex align-items-center justify-content-center vh-100 overflow-hidden">

    <div class="mx-3">
        <img src="/img/note-taking.png" class="bg-dark rounded-3 py-5" />
    </div>
    <div role="main"
         class="d-flex mx-3 py-5 px-5 flex-column text-start justify-content-center border border-2 rounded-3"
         style="min-width: 512px; min-height: 610px">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>