
@{
    ViewData["Title"] = "Cant Delete";
}

<h5>An error ocuured while trying to delete user:</h5>
<p>User has todo tasks. Delete them and try again.</p>

<a asp-action="Index" class="btn btn-secondary">Back</a>
