@model IList<TodoList.Models.TodoTask>

<h2 class="m-5">Hoje <span class="border ms-3 px-3 rounded">@Model.Where(t => t.DueDate.ToShortDateString() == DateTime.Today.ToShortDateString()).Count()</span></h2>

<div class="w-100 btn border p-3" id="createTodoTask">
    <span>
        +
    </span>
    <span>
        Adicionar nova tarefa
    </span>
</div>

@foreach (var todoTask in Model)
{
    // todo
}

<script src="/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#createTodoTask").on("click", function (e) {
            e.preventDefault();
            $.ajax({
                url: "/TodoTask/Create",
                method: "GET",
                success: function (data) {
                    $("#part-3").html(data);
                },
                error: function (error) {
                    console.error("Erro ao carregar a partial view: " + error);
                }
            });
        });
    });
</script>